.mystery {
  position: relative;
  margin-top: 10rem;
  & > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    margin: auto;
    text-align: center;
    z-index: 1;

    p {
      font: 600 1rem / 1.5 "Raleway", sans-serif;
      color: var(--text-body);
      padding: 1.5rem 2rem;
    }
  }

  & > div:nth-child(2) {
    z-index: 0;
    width: 100%;
    height: auto;

    img {
      width: 4rem;
    }

    & img[src*="crystal"] {
      display: flex;
      position: absolute;
      right: 10%;
      rotate: 45deg;
      transition: 0.5s;
      animation-delay: 0.6s;
      &:hover {
        transform: scale(1.1);
        rotate: 0deg;
      }
    }

    & img[src*="opened"] {
      display: flex;
      position: absolute;
      left: 53%;
      top: -60%;
      rotate: 45deg;
      animation-delay: 0.4s;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
        rotate: 0deg;
      }
    }

    & img[src*="ouija"] {
      display: flex;
      position: absolute;
      left: 10%;
      rotate: 45deg;
      transition: 0.5s;
      animation-delay: 0.2s;

      &:hover {
        transform: scale(1.1);
        rotate: 0deg;
      }
    }
  }

  & img[src*="crystal"],
  & img[src*="opened"],
  & img[src*="ouija"] {
    animation: slideRight 0.8s ease-out forwards;
    animation-timeline: view ();
    animation-range: 100px 350px;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (width >= 80em) {
  .mystery {
    margin-top: 20rem;
    & > div:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 40rem;
      margin: auto;
      text-align: center;
      z-index: 1;

      p {
        font: 600 1rem / 1.5 "Raleway", sans-serif;
        color: var(--text-body);
        padding: 1.5rem 2rem;
      }
    }
    & > div:nth-child(2) {
      & img[src*="crystal"] {
        display: flex;
        position: absolute;
        right: 30%;
        rotate: 45deg;
      }

      & img[src*="opened"] {
        display: flex;
        position: absolute;
        left: 48%;
        top: -60%;
        rotate: 45deg;
      }

      & img[src*="ouija"] {
        display: flex;
        position: absolute;
        left: 30%;
        rotate: 45deg;
      }
    }
  }
}
